@model IEnumerable<Geoprofs.Models.Absence>

@{
    ViewData["Title"] = "Leave of absence";
}
@{
    TempData.Keep("admin");
    TempData.Keep("User_id");

    TempData.Keep("Team_id");

    TempData.Keep("Role_id");

}
<h1>Leave of absence</h1>
<h1>@TempData["name"]</h1>

@if (TempData["User_id"] != null && TempData["User_id"] != "0")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <p>Please Login first.</p>
}

@if (TempData["admin"] != null)
{
    @if ((bool)TempData["admin"] == true)
    {
        <h4>Closed requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.status == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />

        <h4>Open requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.status == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
@if (TempData["admin"] != null)
{
    @if ((bool)TempData["admin"] == true)
    {
        <h4>Closed requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.status == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />

        <h4>Open requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Team_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.status == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

<br />
@if (TempData["User_id"] != null){
    <h4>Your open requests</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userId)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Team_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StopAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if ((int)TempData["User_id"] == item.userId)
                {
                    if (item.status == false)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
    <br />
}
@if (TempData["Team_id"] != null){
    <h4>Team requests</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userId)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Team_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StopAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if ((int)TempData["Team_id"] == item.Team_id)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                        }
                }
            }
        </tbody>
    </table>
    <br />

    <h4>Your closed requests</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StopAbsence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if ((int)TempData["User_id"] == item.userId)
                {
                    if (item.status == true)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopAbsence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                        }
                }
            }
        </tbody>
    </table>
    <br />

    if ((int)TempData["Role_id"] == 2)
    {
        <h4>Your Teams open requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    if ((int)TempData["Team_id"] == item.Team_id)
                    {
                        if (item.status == false)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartAbsence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StopAbsence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <br />


        <h4>Your Teams closed requests</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopAbsence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    if ((int)TempData["Team_id"] == item.Team_id)
                    {
                        if (item.status == true)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartAbsence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StopAbsence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <br />
    }
}